<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a note</title>
</head>
<body>
    
    <h1>Add a New Note</h1>
    <form method="POST" action="/notes/add">
        <input type="text" name="title" placeholder="Title" required />
        <br />
        <textarea name="description" placeholder="Description" required></textarea>
        <br />
        <button type="submit">Add Note</button>
    </form>

</body>
</html>