<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- this the link to connect the tailwind css in ejs file go to tailwindcss.com then get stareted btn then click on play cdn the copy link -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>  -->
    <script src="https://cdn.tailwindcss.com"></script> 

</head>
<body>

    <div style="display: flex;">
        <h2>Login your account </h2>

        <form method="post" action="/login" style="display: flex; margin: 30px 650px; flex-direction: column; border: 2px solid black;margin-left: 5px; width: 300px;" >

            <input type="email" placeholder="Enter the email" name="email" style="border: 2px solid black; width: 200px; padding: 4px 4px;" required>
            <!-- <input type="email" placeholder="Enter the email" name="email"> -->
            <input type="password" placeholder="Enter the password" name="password" style="border: 2px solid black; width: 200px; padding: 4px 4px;" required>
            <!-- <input type="text" placeholder="Enter the age" name="age"> -->
            <input type="submit" value="Login User"style="border: 2px solid black; width: 200px; padding: 4px 4px;">
        </form>

    </div>

</body>
</html>