<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile-detail</title>
</head>

<body>
    <h1>hey <%= intdata.username %></h1>
    <br>
    
    <h3 style="display:inline;"> username: <%= intdata.username %> </h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/notes/update/username">change Username</a>

    <br><br>

    <h3 style="display:inline;">email: <%= intdata.email %></h3> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/notes/update/email">change email</a>

    <br><br>

    <h3 style="display:inline;">password</h3> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/notes/update/email">change password</a>

 <!-- https://github.com/shivamkumar214/secure-notes-backend.git -->
    <!-- <h3 style="display:inline;">age: <%= intdata.age %></h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/update/age">change age</a> -->
</body>
</html>